.harvardkey_choose {
    width: 400px;
    margin: 0 auto;
}

.harvardkey_choose_box {
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 15px 0;
}
a.harvardkey_choose_primary,
a.harvardkey_choose_primary:link,
a.harvardkey_choose_primary:visited {
    background: #C76941;
    color: #FFF;
    border-radius: 5px;
}
a.harvardkey_choose_primary:hover {
    color: #000;
}
.harvardkey_choose_secondary {
    background-color: #d6d8d8;
    border-radius: 5px;
}
